.form {
    display: flex;
    border-top: 2px solid #D3D3D3;
}

.input {
    border: none;
    border-radius: 0;
    padding: 6%;
    width: 85%;
    font-size: 1.2em;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.sendButton {
    color: whitesmoke !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #6f42c1;
    padding: 15px;
    display: inline-block;
    border: none;
    width: 20%;
}